@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nota10.NET</h1>
    <p class="lead">Nu apasati acest buton!!!</p>
    <p><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">Just don't &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome, welcome</h2>
        <p>
            This is our delightful and wonderous shoppe, ye may find all that thy heart desires, pain, dissapointment, disgrace and a sevre lack of ideas!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more maidens</h2>
        <p></p>
        <p><a class="btn btn-default" href="https://tenor.com/view/no-maidens-megamind-no-bitches-meme-gif-24995150">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>./Placeholder/.</h2>
        <p>Aici nu stiu ce sa pun, sorry.</p>
        
    </div>
</div>